<div class="searchWrapper">

{{input type="text" value=firstname placeholder="First Name"}}
{{input type="text" value=lastname placeholder="Last Name"}}
<div class="text">
<div class="tags">Your firstname: <span>{{firstname}}</span></div>
<div class="tags">Your lastname: <span>{{lastname}}</span></div>
</div>

</div>
{{outlet}}
